@import "fonts/fonts.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400..700&family=Montserrat:wght@300;400&display=swap');
/**import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&display=swap');**/
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --site-pad: 2rem;
  

  
  --lsmoke: rgba(105, 104, 143, 0.1);
  
  --gray2: #747474;


  --gold: #FFDF64;  
  --yellow: #FFC947; 

  --display-font: 'Inconsolata', sans-serif;
  --body-font: 'Albert Sans', sans-serif;

  --corner-radius: 24px;
  --max-case-study-width: 450px;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: var(--body-font);

  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 400;
  line-height: 23px;
  color: var(--gray3);
}



.color {
  background-color: var(--lsmoke);
  padding: 0 0 80px 0;
  margin: 40px 0 0 0;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
}

.button {
  --border-top-width: 2px;
  --border-right-width: 4px;
  --border-bottom-width: 4px;
  --border-left-width: 2px;
  --border-color: #2d2b2a;
  --border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  gap: 6px;
  padding: 12px 24px;
  background-color: white;
  border-radius: 100px;
  width: min-content;
  height: min-content;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  
  border-top: var(--border-top-width) var(--border-style) var(--border-color);
  border-right: var(--border-right-width) var(--border-style) var(--border-color);
  border-bottom: var(--border-bottom-width) var(--border-style) var(--border-color);
  border-left: var(--border-left-width) var(--border-style) var(--border-color);

  transition: background-color 0.3s ease, color 0.3s ease;
  color: #2d2b2a;
}



.section-title {
  font-size: 32px;
  line-height: 42px;
  
  font-weight: 500;
  color: var(--green);
  margin-bottom: 24px;
  position: relative;
  padding: 80px 0 8px 0;
  font-family: var(--display-font);
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--green);
}

.layout-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  margin-bottom: 0x;
  align-items: start;
}

.layout-one-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 0px;
}

.highlight-yellow {
  background: var(--gold);
  padding: 24px;
  border-radius: 0;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 12px;
}

.bullet-list {
  list-style: disc;
  padding-left: 24px;
  font-weight: bold;
  color: var(--gray3);
}

@media (max-width: 768px) {
  
}

@media (max-width: 400px) {
  .layout-two-col {
  display: flex;
  flex-direction: column;
  }
  

}



[id] {
    scroll-margin-top: 100px;
  }


/* ---------------Homepage hero */

.hero {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
  background: none;
}

.intro-text {
  flex: 1;
}

.hero h1 {
  font-size: 48px;
  line-height: 60px;
  font-family: 'PT Serif', serif;
  font-weight: 500;
  margin: 0;
}


.profile-img-container {
  width: 232px;
  height: 232px;
  padding: 16px;
  border-radius: 40px;
  border: 1px solid var(--gray1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.profile-img-container:hover {
  background: var(--gray1);
  border: 1px solid var(--smoke);
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: var(--corner-radius);
  object-fit: cover;
  pointer-events: none;
}

@keyframes cycleImages {
  0% { content: url('squat/01.png'); }
  33% { content: url('squat/02.png'); }
  66% { content: url('squat/03.png'); }
  100% { content: url('squat/04.png'); }
  0% { content: url('squat/05.png'); }
  33% { content: url('squat/06.png'); }
  66% { content: url('squat/07.png'); }
  100% { content: url('squat/08.png'); }
}

.hero-bar {
  width: 33%;
  height: 6px;
  background-color: var(--yellow);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: left;
  }

  .hero-bar {
    width: 100%
  }

  .profile-img-container {
    width: 100%;
    height: auto;
  }

  .profile-img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .hero h1 {
    font-size: 36px;
    line-height:  42px;
  }

  .intro-text p {
    font-size: 16px;
  }
}

/*-----------Hompage Case studies*/





.carousel {
  width: 100vw;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-track img {
  flex-shrink: 0;
  width: 100vw;
  height: auto;
  max-height: 600px;
  object-fit: contain; /* scale to fit, no cropping */
  display: block;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--smoke);
  background-color: transparent;
}

.dot.active {
  background-color: var(--yellow);
}

.stats-container {
  width: 100%;
  padding: var(--site-pad) 16px;
  box-shadow: 0px 0px 48px rgba(105, 104, 143, 0.25);
  border-radius: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  margin: 24px auto 80px auto;
  box-sizing: border-box;
}

.stat-group {
  flex: 1;
  text-align: center;
}

.stat {
  font-size: 24px;
  padding-bottom: 16px;
  font-weight: bold;
  color: var(--smoke);
}

.stat-text {
  font-size: 16px;
  color: var(--smoke);
}

.divider {
  width: 2px;
  background: #D5D5DD;
  height: 100px;
}

/* Responsive Dividers */
@media (max-width: 700px) {
  .stats-container {
    flex-direction: column;
    text-align: center;
    gap: 16px;
    box-sizing: border-box;
  }

  .divider {
    width: 100%;
    height: 2px;
  }
}
